
.foot {
	padding: 20px;
	.navifoot {
		margin-bottom: 30px;
		ul {
			list-style: none;
			padding-left: 0;
			li {
				width:100%;
				display:block;
				float: left;
				a{
					cursor:pointer;
				}
			}
		}
	}
}
.footlines {
	.line-creditcards {
		text-align: center;
		height: 32px;
		margin-top: 25px;
		margin-bottom: 25px;
		img {
			line-height: 32px;
			vertical-align: middle;
			display: inline;
			margin: 0 5px;
			height:100%;
			width:auto;
		}
	}
	.line-colophon {
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
