.head {
	z-index: 100;
	.top-navbar{
		.branding{
			padding-left: 0;
			padding-right: 0;
			.logo{
				line-height : $navbar-height;
				margin :0;
				padding: 0;
				.logoimg{
					&--regular{
						display:inline-block;
						vertical-align:middle;
						height: $navbar-height - 15px;
						width: auto;
					}
					&--small{
						display:none;
						padding: 0 10px;
						vertical-align:middle;
						height: $navbar-height - 10px;
						width: auto;
					}
				}
				@include respond-to('handhelds'){
					.logoimg{
						&--regular{
							display: none;
						}
						&--small{
							display:inline-block;
						}
					}

				}
			}
		}
		.menu{
			padding-left: 0;
			padding-right: 0;
		}
	}
}
