@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

%icon {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == social-facebook {
		$char: "\E001";
	}
	@if $filename == social-instagram {
		$char: "\E002";
	}
	@if $filename == social-linkedin {
		$char: "\E003";
	}
	@if $filename == social-pinterest {
		$char: "\E004";
	}
	@if $filename == social-youtube {
		$char: "\E005";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}

.icon-social-facebook {
	@include icon(social-facebook);
}
.icon-social-instagram {
	@include icon(social-instagram);
}
.icon-social-linkedin {
	@include icon(social-linkedin);
}
.icon-social-pinterest {
	@include icon(social-pinterest);
}
.icon-social-youtube {
	@include icon(social-youtube);
}
