
#ads-category {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin: 20px 0;
  padding-left:0px;
  > li {
    &.panel{
      background-color: transparent;
    }
    border-bottom: 2px dashed #a9a9a9;
    font-weight: bold;
    cursor: pointer;
    > ul {
      padding: 5px 0 10px;
      list-style: none;
      > li {
        cursor: pointer;
        font-weight: normal;
        &.selected {
          font-weight: bold;
        }
        span {
          padding: 5px 0;
          display: block;
        }
      }
    }
    &:first-child > ul {
      padding: 0;
    }
    > span {
      color: inherit;
      display: block;
      padding: 10px 0;
    }
  }

  @include respond-to('tablets'){
    >li{
      >ul{
        text-align: center;
        >li{
          display: inline-block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}


#ads-container {
  list-style: none;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  margin:20px 0;
  li {
    display: inline-block;
    text-align: center;
  }
  .item-title {
    padding-top: 5px;
    display: block;
  }
  .item-image {
    background-size: cover;
    width: 100%;
    height: 110px;
    background-position: center center;
  }
}
