.ads-quad{
  padding:10px 0;
  .ad-item{
    padding:0px;
    a{
      width:100%;
      display:block;
      height:175px;
      overflow:hidden;
      padding:1px;
      border:1px solid white;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
      img{
        height:100%;
        width:auto;
        visibility:hidden;
      }
    }
  }
  @include respond-to('handhelds'){
    .ad-item{
      a{
        height:120px;
      }
    }
  }
  @include respond-to('very-small'){
    .ad-item{
      a{
        height:80px;
      }
    }
  }

}
