<div id="adsMiniBanners" class="row ads-minibanners ribbon ribbon--center">
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner-44.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner-44.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner.jpg" alt />
    </a>
  </div>
  <div class="ad-item">
    <a href="#">
      <img src="images/ad-banner-44.jpg" alt />
    </a>
  </div>

</div>
