<div id="adsQuad" class="row ads-quad ribbon ribbon--center">
  <div class="ad-item col-xs-3">
    <a href="#">
      <img src="images/ad-a.jpg" alt />
    </a>
  </div>
  <div class="ad-item col-xs-3">
    <a href="#">
      <img src="images/ad-b.jpg" alt />
    </a>
  </div>
  <div class="ad-item col-xs-3">
    <a href="#">
      <img src="images/ad-c.jpg" alt />
    </a>
  </div>
  <div class="ad-item col-xs-3">
    <a href="#">
      <img src="images/ad-d.jpg" alt />
    </a>
  </div>
</div>
