<div class="col-md-12 category-overview">
    <div class="row category" style="margin-bottom:25px;">
      <div class="col-md-6">
          <a href="http://eksempel.lastbil.web4test.dk/services/udlejning/containere/" title="Containere">
              <img src="http://eksempel.lastbil.web4test.dk/media/1081/slide5.jpg" alt="Containere" style="width:100%;" />
          </a>
      </div>
        <div class="col-md-6">
            <h2>Containere</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis optio inventore recusandae sunt saepe, veniam fugit consequuntur impedit architecto odit dignissimos nobis ullam ab dolorem velit numquam eum iure nemo debitis aut eligendi. Sapiente aperiam quae impedit sit. Nisi ut quam consectetur et, ea nam ullam eligendi minus alias doloremque asperiores dolorum, explicabo ratione repudiandae, quas natus incidunt nobis illo. Tenetur, laborum blanditiis cumque at culpa necessitatibus, dicta obcaecati nesciunt esse fugiat, beatae! Praesentium earum itaque neque, esse, iure id distinctio consequuntur, provident recusandae aut, atque facilis illo ab nulla optio veniam voluptate repellendus facere! Architecto assumenda voluptatum quam explicabo, obcaecati deleniti accusantium beatae praesentium, laudantium nulla velit id.
            </p>
        </div>
    </div>
    <div class="row category" style="margin-bottom:25px;">
      <div class="col-md-6">
          <a href="http://eksempel.lastbil.web4test.dk/services/udlejning/lastbiler/" title="Lastbiler">
              <img src="http://eksempel.lastbil.web4test.dk/media/1077/billede14-0784e74663.jpg" alt="Lastbiler" style="width:100%;" />
          </a>
      </div>
        <div class="col-md-6">
            <h2>Lastbiler</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni excepturi veritatis praesentium, placeat perferendis a culpa fugit. Ipsa quibusdam praesentium eligendi laudantium, voluptate molestiae quisquam molestias, aliquam eaque odio. Voluptatibus repellendus iste similique odio distinctio velit repudiandae, corporis sequi magni deserunt unde, quas voluptas dolorum eius, porro quo earum. Dicta sint dolorem eaque dolor rerum optio accusamus delectus aut accusantium, non doloribus nesciunt quasi minima voluptatem reiciendis fugiat, consectetur eos temporibus aliquid. Ab suscipit adipisci porro, sit blanditiis error aut? Nesciunt natus facere libero, vero suscipit ad tempora quasi, assumenda.
            </p>
        </div>
    </div>
</div>
