<div class="article-content">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <ul id="ads-category" role="tablist" aria-multiselectable="true" class="panel-group">
          <li data-filter="*" role="tab" class="panel">
              <span role="tab" data-toggle="collapse" id="listingtitle0" data-parent="#ads-category" data-target="#listing0" aria-controls="listing0" aria-selected="false" aria-expanded="true">Alle</span>
              <ul class="panel-collapse collapse" id="listing0" aria-labelledby="listingtitle0" role="tabpanel" aria-hidden="true">
              </ul>
          </li>
              <li data-filter=".cat-3,.cat-17,.cat-48,.cat-52,.cat-134" role="tab" class="panel">
                  <span class="   " data-toggle="collapse" id="listingtitle1" data-parent="#ads-category" data-target="#listing1" aria-controls="listing1" aria-selected="false" aria-expanded="false" >bygnettet (9)</span>
                  <ul class="panel-collapse collapse" id="listing1" aria-labelledby="listingtitle1" role="tabpanel" aria-hidden="true">
                          <li data-filter=".cat-3">
                              <span>Container (1)</span>
                          </li>
                          <li data-filter=".cat-17">
                              <span>Diverse Transport (4)</span>
                          </li>
                          <li data-filter=".cat-48">
                              <span>Gummihjulslæssere (2)</span>
                          </li>
                          <li data-filter=".cat-52">
                              <span>Rendegraver (1)</span>
                          </li>
                          <li data-filter=".cat-134">
                              <span>Skovbrugmaskiner (1)</span>
                          </li>
                  </ul>

              </li>
              <li data-filter=".cat-17,.cat-124" role="tab" class="panel">
                  <span class="   " data-toggle="collapse" id="listingtitle2" data-parent="#ads-category" data-target="#listing2" aria-controls="listing2" aria-selected="false" aria-expanded="false">industrinettet (5)</span>
                  <ul class="panel-collapse collapse" id="listing2" aria-labelledby="listingtitle2" role="tabpanel" aria-hidden="true">
                          <li data-filter=".cat-17">
                              <span>Diverse Transport (4)</span>
                          </li>
                          <li data-filter=".cat-124">
                              <span>Lager (1)</span>
                          </li>
                  </ul>

              </li>
              <li data-filter=".cat-3,.cat-17,.cat-25,.cat-89,.cat-134"  role="tab" class="panel">
                  <span class="   " data-toggle="collapse" id="listingtitle3" data-parent="#ads-category" data-target="#listing3" aria-controls="listing3" aria-selected="false" aria-expanded="false">landnettet (12)</span>
                  <ul class="panel-collapse collapse" id="listing3" aria-labelledby="listingtitle3" role="tabpanel" aria-hidden="true">
                          <li data-filter=".cat-3">
                              <span>Container (1)</span>
                          </li>
                          <li data-filter=".cat-17">
                              <span>Diverse Transport (4)</span>
                          </li>
                          <li data-filter=".cat-134">
                              <span>Skovbrugmaskiner (1)</span>
                          </li>
                          <li data-filter=".cat-89">
                              <span>Traktor vogn (3)</span>
                          </li>
                          <li data-filter=".cat-25">
                              <span>Traktorer (3)</span>
                          </li>
                  </ul>

              </li>
              <li data-filter=".cat-2,.cat-3,.cat-4,.cat-6,.cat-7,.cat-8,.cat-9,.cat-17,.cat-18,.cat-107,.cat-304"  role="tab" class="panel">
                  <span class="   " data-toggle="collapse" id="listingtitle4" data-parent="#ads-category" data-target="#listing4" aria-controls="listing4" aria-selected="false" aria-expanded="false">lastbilnettet (36)</span>
                  <ul class="panel-collapse collapse" id="listing4" aria-labelledby="listingtitle4" role="tabpanel" aria-hidden="true">
                          <li data-filter=".cat-7">
                              <span>Anhænger (1)</span>
                          </li>
                          <li data-filter=".cat-3">
                              <span>Container (1)</span>
                          </li>
                          <li data-filter=".cat-17">
                              <span>Diverse Transport (4)</span>
                          </li>
                          <li data-filter=".cat-6">
                              <span>Hejs (3)</span>
                          </li>
                          <li data-filter=".cat-304">
                              <span>Kran (1)</span>
                          </li>
                          <li data-filter=".cat-4">
                              <span>Kran tilbehør (1)</span>
                          </li>
                          <li data-filter=".cat-107">
                              <span>Kranudstyr (1)</span>
                          </li>
                          <li data-filter=".cat-18">
                              <span>Lastvogn (forvogn) (3)</span>
                          </li>
                          <li data-filter=".cat-2">
                              <span>Lastvogn (trækker) (2)</span>
                          </li>
                          <li data-filter=".cat-9">
                              <span>Løse lad (1)</span>
                          </li>
                          <li data-filter=".cat-8">
                              <span>Trailer over 7 tons (18)</span>
                          </li>
                  </ul>

              </li>
      </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <ul id="ads-container" class="grid" style="position: relative; height: 2416px;" data-min-width="1440" data-total-col="4" data-total-row="12" data-wall-width="805" data-wall-height="2416">
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-18" data-category="cat-18" data-delay="1" data-height="159" data-width="171" data-state="move" id="1-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 0px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100774" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100774-409988.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>124</strong><br>
                      <small>
                          DKK  135.000
                          (1999)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-89" data-category="cat-89" data-delay="2" data-height="181" data-width="172" data-state="move" id="2-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 0px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=121983" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/121983-483166.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>2. akslet kærre VM Tarm 14.000L rustfri stål tank</strong><br>
                      <small>
                          DKK  69.000
                          (1991)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-7" data-category="cat-7" data-delay="3" data-height="159" data-width="171" data-state="move" id="3-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 0px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=89250" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/89250-277327.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>24T</strong><br>
                      <small>
                          DKK  215.000
                          (2005)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-25" data-category="cat-25" data-delay="4" data-height="159" data-width="171" data-state="move" id="4-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 0px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100770" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100770-409974.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>3000</strong><br>
                      <small>
                          DKK  13.000

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="5" data-height="159" data-width="171" data-state="move" id="5-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 201.25px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=94616" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/94616-363827.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>36 m3</strong><br>
                      <small>
                          DKK  340.000
                          (2013)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="6" data-height="159" data-width="171" data-state="move" id="6-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 201.25px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=99210" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/99210-398992.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>36 m3</strong><br>
                      <small>
                          DKK  365.000
                          (2013)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-48" data-category="cat-48" data-delay="7" data-height="159" data-width="171" data-state="move" id="7-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 201.25px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=99931" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/99931-403942.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>4 stk Fælge slangeløst</strong><br>
                      <small>
                          DKK  650

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-25" data-category="cat-25" data-delay="8" data-height="159" data-width="172" data-state="move" id="8-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 201.25px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100769" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100769-409972.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>400</strong><br>
                      <small>
                          DKK  23.000

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-25" data-category="cat-25" data-delay="9" data-height="159" data-width="171" data-state="move" id="9-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 402.5px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100773" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100773-409984.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>515c</strong><br>
                      <small>
                          DKK  160.000
                          (1995)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="10" data-height="159" data-width="171" data-state="move" id="10-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 402.5px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=87996" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/87996-315105.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>55M3</strong><br>
                      <small>
                          DKK  325.000
                          (2007)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="11" data-height="159" data-width="171" data-state="move" id="11-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 402.5px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=81843" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/81843-305778.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>56M3</strong><br>
                      <small>
                          DKK  300.000
                          (2005)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="12" data-height="159" data-width="172" data-state="move" id="12-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 402.5px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=93047" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/93047-335766.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>60 m3</strong><br>
                      <small>
                          DKK  300.000
                          (2007)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-52" data-category="cat-52" data-delay="13" data-height="159" data-width="171" data-state="move" id="13-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 603.75px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=67972" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/67972-159755.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>614</strong><br>
                      <small>
                          DKK  200.000
                          (1993)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-18" data-category="cat-18" data-delay="14" data-height="159" data-width="171" data-state="move" id="14-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 603.75px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=104394" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/104394-437092.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>615-F7</strong><br>
                      <small>
                          DKK  70.000
                          (1985)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="15" data-height="159" data-width="171" data-state="move" id="15-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 603.75px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=88188" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/88188-267815.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>ALU trialer 60m3</strong><br>
                      <small>
                          DKK  300.000
                          (2008)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="16" data-height="159" data-width="172" data-state="move" id="16-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 603.75px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=126473" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/126473-507285.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>AMt 60 m3</strong><br>
                      <small>
                          DKK  470.000
                          (2014)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-134" data-category="cat-134" data-delay="17" data-height="181" data-width="171" data-state="move" id="17-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 805px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=86377" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/86377-249577.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>AVANT Multitec (Staldknægt)</strong><br>
                      <small>
                          DKK  5.500
                          (1999)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-3" data-category="cat-3" data-delay="18" data-height="159" data-width="171" data-state="move" id="18-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 805px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=89124" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/89124-275648.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Bagtipper</strong><br>
                      <small>
                          DKK  62.500
                          (2012)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-17" data-category="cat-17" data-delay="19" data-height="159" data-width="171" data-state="move" id="19-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 805px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100772" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100772-409981.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Båd</strong><br>
                      <small>
                          DKK  17.500

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-18" data-category="cat-18" data-delay="20" data-height="159" data-width="171" data-state="move" id="20-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 805px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100564" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100564-408411.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>fl6</strong><br>
                      <small>
                          DKK  30.000
                          (1994)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-107" data-category="cat-107" data-delay="21" data-height="159" data-width="172" data-state="move" id="21-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1006.25px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=83713" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/83713-228000.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Flaskecontianer tømmer</strong><br>
                      <small>
                          DKK  5.500
                          (2010)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="22" data-height="159" data-width="171" data-state="move" id="22-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1006.25px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100565" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100565-408417.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>gradin</strong><br>
                      <small>
                          DKK  80.000
                          (2007)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="23" data-height="159" data-width="171" data-state="move" id="23-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1006.25px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=123940" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/123940-491452.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Hardox</strong><br>
                      <small>
                          DKK  355.000
                          (2013)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-4" data-category="cat-4" data-delay="24" data-height="159" data-width="171" data-state="move" id="24-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1006.25px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=99930" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/99930-403939.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Hema grabbe 500L</strong><br>
                      <small>
                          DKK  2.500

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-17" data-category="cat-17" data-delay="25" data-height="159" data-width="172" data-state="move" id="25-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1207.5px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=83128" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/83128-225104.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>hjulkapsler</strong><br>
                      <small>
                          DKK  500
                          (2011)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-6" data-category="cat-6" data-delay="26" data-height="159" data-width="171" data-state="move" id="26-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1207.5px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=92792" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/92792-331253.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>HMF TF320</strong><br>
                      <small>
                          DKK  100.000

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-124" data-category="cat-124" data-delay="27" data-height="159" data-width="171" data-state="move" id="27-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1207.5px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=81841" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Jernreol</strong><br>
                      <small>
                          DKK  950

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-17" data-category="cat-17" data-delay="28" data-height="159" data-width="171" data-state="move" id="28-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1207.5px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=81840" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>kinnegrib K6 1300</strong><br>
                      <small>
                          DKK  2.900
                          (2011)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-6" data-category="cat-6" data-delay="29" data-height="159" data-width="172" data-state="move" id="29-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1408.75px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=104491" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/104491-437799.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Kroghejs sawo</strong><br>
                      <small>
                          DKK  48.000
                          (2004)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-48" data-category="cat-48" data-delay="30" data-height="159" data-width="171" data-state="move" id="30-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1408.75px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=67970" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/67970-159747.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>L90E</strong><br>
                      <small>
                          DKK  530.000
                          (2004)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="31" data-height="159" data-width="171" data-state="move" id="31-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1408.75px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=103246" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/103246-427742.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Lige ud</strong><br>
                      <small>
                          DKK  70.000
                          (2008)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="32" data-height="159" data-width="171" data-state="move" id="32-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1408.75px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=100562" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/100562-408402.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>ligeud trialer m alu sider</strong><br>
                      <small>
                          DKK  74.000
                          (2007)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-89" data-category="cat-89" data-delay="33" data-height="159" data-width="172" data-state="move" id="33-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1610px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=102448" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/102448-421954.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Mega Dolly 1alslet</strong><br>
                      <small>
                          DKK  115.000
                          (2014)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-89" data-category="cat-89" data-delay="34" data-height="159" data-width="171" data-state="move" id="34-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1610px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=102449" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/102449-421958.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Mega Dolly 2 akslet</strong><br>
                      <small>
                          DKK  130.000
                          (2014)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="35" data-height="159" data-width="171" data-state="move" id="35-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1610px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=99927" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/99927-403918.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>MTDK  trialer 60m3</strong><br>
                      <small>
                          DKK  455.000
                          (2012)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-304" data-category="cat-304" data-delay="36" data-height="159" data-width="171" data-state="move" id="36-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1610px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=123941" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/123941-491457.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>PK8000</strong><br>
                      <small>
                          DKK  22.000
                          (1993)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-2" data-category="cat-2" data-delay="37" data-height="159" data-width="172" data-state="move" id="37-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1811.25px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=123939" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/123939-491447.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>R 500</strong><br>
                      <small>
                          DKK  540.000
                          (2011)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-2" data-category="cat-2" data-delay="38" data-height="159" data-width="171" data-state="move" id="38-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1811.25px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=84284" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/84284-230880.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>R500</strong><br>
                      <small>
                          DKK  415.000
                          (2007)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-6" data-category="cat-6" data-delay="39" data-height="159" data-width="171" data-state="move" id="39-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1811.25px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=93328" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/93328-341221.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Rustfri skabe/ Tanke</strong><br>
                      <small>
                          DKK  12.000

                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="40" data-height="159" data-width="171" data-state="move" id="40-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 1811.25px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=102676" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/102676-423481.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Rustfri tank</strong><br>
                      <small>
                          DKK  550.000
                          (2013)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="41" data-height="159" data-width="172" data-state="move" id="41-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2012.5px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=102677" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/102677-423485.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Rustfri tank</strong><br>
                      <small>
                          DKK  550.000
                          (2013)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="42" data-height="159" data-width="171" data-state="move" id="42-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2012.5px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=94618" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/94618-363835.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>stas 60m3</strong><br>
                      <small>
                          DKK  350.000
                          (2002)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="43" data-height="159" data-width="171" data-state="move" id="43-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2012.5px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=126481" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/126481-507321.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>suge/blæse trialer</strong><br>
                      <small>
                          DKK  155.000
                          (2005)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-9" data-category="cat-9" data-delay="44" data-height="159" data-width="171" data-state="move" id="44-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2012.5px; left: 603.75px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=68017" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/68017-159912.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Tiplad NOPA</strong><br>
                      <small>
                          DKK  50.000
                          (1999)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-17" data-category="cat-17" data-delay="45" data-height="159" data-width="172" data-state="move" id="45-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2213.75px; left: 0px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=102675" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/102675-423477.JPG&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>Trækstang VBG</strong><br>
                      <small>
                          DKK  5.000
                          (2014)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="46" data-height="159" data-width="171" data-state="move" id="46-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2213.75px; left: 201.25px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=89418" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/89418-279359.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>VM Tarm</strong><br>
                      <small>
                          DKK  395.000
                          (2001)
                      </small>
                  </span>
              </a>
          </li>
          <li class="element-item col-xs-6 col-sm-4 col-md-4 col-lg-3 cat-8" data-category="cat-8" data-delay="47" data-height="159" data-width="171" data-state="move" id="47-2" style="position: absolute; opacity: 1; width: 201.25px; height: 201.25px; top: 2213.75px; left: 402.5px; transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s, opacity 0.5s;">
              <a href="http://lastbilnettet.dk/vis_salg.asp?id=90991" target="_blank">
                  <div class="item-image lazy" style="background-image: url(http://lastbilnettet.dk/_thumbnail.asp?pic=billeder/90991-304692.jpg&amp;width=235&amp;height=176&amp;ratio=1);"></div>
                  <span class="item-title">
                      <strong>VM Tarm</strong><br>
                      <small>
                          DKK  550.000
                          (2011)
                      </small>
                  </span>
              </a>
          </li>
      </ul>
  </div>
</div>
