<div id="frontslides" class="herobanner carousel row ribbon ribbon--fill">
  <div class="slide" data-dot="slideone" style="background-image:url(images/img-temp1.jpg);">
    <img class="slide-image" src="images/img-temp1.jpg" />
    <div class="slide-screen-effect" ></div>
    <div class="slide-content">
      <h2>Hero Banner Title</h2>
      <span>This is the subtitle for this</span>
      <a class="call-to-action" href="#">Click Here</a>
    </div>
  </div>
  <div class="slide" data-dot="slidetwo" style="background-image:url(images/img-temp2.jpg);">
    <img class="slide-image" src="images/img-temp2.jpg" />
    <div class="slide-screen-effect" ></div>
    <div class="slide-content">
      <h2>Lorem Ipsum</h2>
      <span>This is the subtitle for this</span>
      <a class="call-to-action" href="#">Button</a>
    </div>
  </div>
  <div class="slide" data-dot="slidetwo" style="background-image:url(images/img-temp3.jpg);">
    <img class="slide-image" src="images/img-temp3.jpg" />
    <div class="slide-screen-effect" ></div>
    <div class="slide-content">
      <h2>Hero Banner Title</h2>
      <span>This is the subtitle for this</span>
      <a class="call-to-action" href="#">Call To Action</a>
    </div>
  </div>
  <div class="slide" data-dot="slidethree" style="background-image:url(images/img-temp4.jpg);">
    <img class="slide-image" src="images/img-temp4.jpg" />
    <div class="slide-screen-effect" ></div>
    <div class="slide-content">
      <h2>Hero Banner Title</h2>
      <span>This is the subtitle for this</span>
    </div>
  </div>
</div>
