@@include('../general/document-top.html',{
	"title" : "Gallery",
	"theme" : "theme.css"
})
<body>
	<!-- PAGE BEGIN -->
	<div class="page">
		@@include("../general/page-header.html",{
			"logo" : "logo-original"
		})

		<div class="content container-fluid">
			@@include("../components/_imagebanner.html")
			@@include("../components/_showcase.html")

		</div>

		@@include("../general/page-footer.html")
	</div>

	@@include("../general/imports-deps.html",{
		"addedScripts":""
	})


@@include('../general/document-bottom.html')
