@@include('../general/document-top.html',{
	"title" : "Home Custom Theme 6",
	"theme" : "theme-custom-6.css"
})
<body>
	<!-- PAGE BEGIN -->
	<div class="page">
		@@include("../general/page-header.html",{
			"logo" : "logo-scanlast2"
		})

		<div class="content container-fluid">

			@@include("../components/_heroslideshow.html")
			@@include("../components/_showcase.html")
			@@include("../components/_article.html")
			@@include("../components/_featureblock.html")
			<!--
			<div id="showcase">
				<div class="showcase-nav"></div>
				<div class="showcase-content container-fluid">
					<div class="row no-side-margins" data-pagename="Delivery">
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck1.jpg);" rel="showcase-delivery" href="images/img-truck1.jpg" title="This is a description">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-26.jpg);" rel="showcase-delivery" href="images/img-truck-service-26.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-19.jpg);" rel="showcase-delivery" href="images/img-truck-service-19.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-17.jpg);" rel="showcase-delivery" href="images/img-truck-service-17.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-16.jpg);" rel="showcase-delivery" href="images/img-truck-service-16.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-21.jpg);" rel="showcase-delivery" href="images/img-truck-service-21.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-7.jpg);" rel="showcase-delivery" href="images/img-truck-service-7.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-27.jpg);" rel="showcase-delivery" href="images/img-truck-service-27.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
					</div>
					<div class="row no-side-margins" data-pagename="Cranes">
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-9.jpg);" rel="showcase-cranes" href="images/img-truck-service-9.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-10.jpg)" rel="showcase-cranes" href="images/img-truck-service-10.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-13.jpg)" rel="showcase-cranes" href="images/img-truck-service-13.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-20.jpg)" rel="showcase-cranes" href="images/img-truck-service-20.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-23.jpg)" rel="showcase-cranes" href="images/img-truck-service-23.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-22.jpg)" rel="showcase-cranes" href="images/img-truck-service-22.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-24.jpg)" rel="showcase-cranes" href="images/img-truck-service-24.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-25.jpg)" rel="showcase-cranes" href="images/img-truck-service-25.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
					</div>
					<div class="row no-side-margins" data-pagename="Deploy">
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-6.jpg)" rel="showcase-cranes" href="images/img-truck-service-6.jpg" title="This is a description for this image">
							<img src="">
						</div></div></a>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-3.jpg)" rel="showcase-cranes" href="images/img-truck-service-3.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-2.jpg)" rel="showcase-cranes" href="images/img-truck-service-2.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-1.jpg)" rel="showcase-cranes" href="images/img-truck-service-1.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-11.jpg)" rel="showcase-cranes" href="images/img-truck-service-11.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-12.jpg)" rel="showcase-cranes" href="images/img-truck-service-12.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-18.jpg)" rel="showcase-cranes" href="images/img-truck-service-18.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
						<div class="showcase-item col-xs-3 col-sm-3 col-md-3 col-lg-3"><div class="outer"><a class="inner popshow" style="background-image:url(images/img-truck-service-15.jpg)" rel="showcase-cranes" href="images/img-truck-service-15.jpg" title="This is a description for this image">
							<img src="">
						</a></div></div>
					</div>
				</div>
				-->
			</div>
		</div>
		@@include("../general/page-footer.html")
	</div>
	<!-- /PAGE END -->

	@@include("../general/imports-deps.html",{
		"addedScripts":""
	})

@@include('../general/document-bottom.html')
