<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Robbin A/S</title>
  <link href="css/standalone-robbin.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <div class="page container">

    <div class="header row">
      <div class="logo col-sm-6"><figure><img class="img-responsive"  src="images/robbin-logo.svg" alt="robbin a/s"></figure></div>
      <div class="navigation col-sm-12 col-lg-6">
        <ul>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Ansatte</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Om Robbin</a></li>
        </ul>
      </div>
    </div>

    <div class="topbar row">
      <a href="#" class="col-sm-6 col-md-3"><span>Doosan</span></a>
      <a href="#" class="col-sm-6 col-md-3"><span>Geotec <em>Drill</em></span></a>
      <a href="#" class="col-sm-6 col-md-3"><span>Sonic<em>Samp</em>Drill</span></a>
      <a href="#" class="col-sm-6 col-md-3"><span>Støcklin</span></a>
    </div>

    <div class="banner row">
      <figure class="col-sm-12">
        <img class="img-responsive" src="images/robbin-bg-banner-1.jpg" alt="">
      </figure>
    </div>

    <div class="row">
      <div class="current col-sm-6">
        <div class="inner-box">
          <span class="title">Aktuelt</span><a href="#">Vi er på Roskilde dyreskue d. 3-6-2016</a>
        </div>
      </div>
      <div class="social col-sm-6">
        <div class="inner-box">
          <span class="title">Mød os på app</span>
          <ul>
            <li><a href="#"><img src="images/robbin-icon-social-fb.png" alt=""></a></li>
            <li><a href="#"><img src="images/robbin-icon-social-fb.png" alt=""></a></li>
            <li><a href="#"><img src="images/robbin-icon-social-fb.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="links row">
      <div class="inblock-links col-xs-6 col-sm-3"><a class="inner-box" href=""><span class="title-caps">Service</span></a></div>
      <div class="inblock-links col-xs-6 col-sm-3"><a class="inner-box" href=""><span class="title-caps">Batterier</span></a></div>
      <div class="inblock-links col-xs-6 col-sm-3"><a class="inner-box" href=""><span class="title-caps">Boreudstyr</span></a></div>
      <div class="inblock-links col-xs-6 col-sm-3"><a class="inner-box" href=""><span class="title-caps">Reservedele</span></a></div>
    </div>

    <div class="featured row">
      <div class="used-items col-sm-6">
        <div class="inner-box">
          <span class="title">Brugte maskiner</span>
          <ul class="items-list row">
            <li class="col-xs-6 col-sm-12 col-lg-6">
              <a href="#" class="item row">
                <figure class="col-sm-6">
                  <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
                </figure>
                <p class="col-sm-6">
                  Kalmar 16 ton<br>
                  DKK 375.000,00
                </p>
              </a>
            </li>
            <li class="col-xs-6 col-sm-12 col-lg-6">
              <a href="#" class="item row">
                <figure class="col-sm-6">
                  <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
                </figure>
                <p class="col-sm-6">
                  Kalmar 16 ton<br>
                  DKK 375.000,00
                </p>
              </a>
            </li>
            <li class="col-xs-6 col-sm-12 col-lg-6">
              <a href="#" class="item row">
                <figure class="col-sm-6">
                  <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
                </figure>
                <p class="col-sm-6">
                  Kalmar 16 ton<br>
                  DKK 375.000,00
                </p>
              </a>
            </li>
            <li class="col-xs-6 col-sm-12 col-lg-6">
              <a href="#" class="item row">
                <figure class="col-sm-6">
                  <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
                </figure>
                <p class="col-sm-6">
                  Kalmar 16 ton<br>
                  DKK 375.000,00
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="dealer-item col-xs-6 col-sm-3">
        <div class="inner-box">
          <span class="title title--block title--center">Månedens Tilbud</span>
          <figure>
            <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
          </figure>
        </div>
      </div>
      <div class="discounted-item col-xs-6 col-sm-3">
        <div class="inner-box">
          <span class="title title--block title--center">Boreudstyr</span>
          <figure>
            <img src="images/robbin-item-truck-svetruck.jpg" class="img-responsive" alt="">
          </figure>
        </div>
      </div>
    </div>


    <div class="footer row">
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/pkgd-main-robbin-dependencies.min.js"></script>
</body>
</html>
