@@include('../general/document-top.html',{
	"title" : "Adverts",
	"theme" : "theme.css"
})
<body>
	<!-- PAGE BEGIN -->
	<div class="page">
		@@include("../general/page-header.html",{
			"logo" : "logo-original"
		})

		<div class="content container-fluid">
			@@include("../components/_imagebanner.html")
			<div id="article" class="row ribbon ribbon--center">
				@@include('../components/_freewallads.html')

					<!---- Article Content --->
			</div>
			@@include("../components/_featureblock.html")
		</div>

		@@include("../general/page-footer.html")

	</div>
	<!-- /PAGE END -->

	@@include("../general/imports-deps.html",{
		"addedScripts":""
	})

@@include('../general/document-bottom.html')
