@@include('../general/document-top.html',{
	"title" : "Categories",
	"theme" : "theme.css"
})
<body>
	<!-- PAGE BEGIN -->
	<div class="page">
		@@include("../general/page-header.html",{
			"logo" : "logo-original"
		})

		<div class="content container-fluid">
      @@include("../components/_imagebanner.html")
			<div id="article" class="row ribbon ribbon--center">

				<div class="article-content article-content--wide">

          @@include('../components/_categoryoverview.html')
        </div> <!---- Article Content --->
      </div>

    </div>

    @@include("../general/page-footer.html")

  </div>
  <!-- /PAGE END -->

  @@include("../general/imports-deps.html",{
    "addScripts":""
  })

@@include('../general/document-bottom.html')
