@@include('../general/document-top.html',{
	"title" : "Home"
})
<body>
	<!-- PAGE BEGIN -->
	<div class="page">
		@@include("../general/page-header.html")

		<div class="content container-fluid">
			<div id="article" class="row ribbon ribbon--center">

				<div class="article-content col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1>Contact us</h1>
					<p>Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>

					<p><strong>
						Our Company Name <br>
						Adress Line XXXX  <br>
						Zip Code XXXX City  <br>
						Tel .: 00 00 00 00  <br>
						Fax: 00 00 00 00 <br>
						Mobile: 00 00 00 00 <br>
						e-mail: ourcompany@email.com </strong>
					</p>
					<div style="max-height:420px;height:420px;-moz-border-radius: inherit;-webkit-border-radius: inherit;border-radius: inherit;" id="gmap">
						<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAZ9bODi3MuoU3ifKJ0n4hUbZWdW--Hlzo&sensor=false"></script>
					</div>
				</div> <!---- Article Content --->
				<form role="form" class="sidebar col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<h2>Contact Form</h2>
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="telephone">Telephone number</label>
						<input type="tel" class="form-control" id="telephone" placeholder="Enter telephone number">
					</div>
					<div class="form-group">
						<label for="telephone">Message</label>
						<textarea type="tel" class="form-control" id="telephone" placeholder="Enter message here" maxlength="255" rows=5 wrap="hard">
						</textarea>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>


				</form>
			</div>

		</div>

		@@include("../general/page-footer.html")

	</div>
	<!-- /PAGE END -->

	@@include("../general/imports-deps.html",{
		"addedScripts" : "<script src='js/assets/gmap.js'></script>"
	})

@@include('../general/document-bottom.html')
