
@import 'libs/bootstrap-variables';
@import 'mixins/respond-to';

body{
  background-color: $pageColor;
  color: contrastColor($pageColor, $fontColDark, $fontColLight);
}

a{
  color:contrastColor($pageColor, darken($colPrimary, 20%),  lighten($colPrimary, 30%));
  &:hover{
    color:contrastColor($pageColor, darken($colPrimary, 30%),  lighten($colPrimary, 20%));
  }
}

#article{
  background-color: $pageColor;
  color: contrastColor($pageColor, $fontColDark, $fontColLight);
}

.head{
  background-color : gray;
  .navbar{
    border-color: $colPrimary;
    border-bottom-width: $headBorderWidth;
    .navbar-toggle{
      border:none;
      color: $colPrimary;
      font-size: 1.2em;
      border-radius:0;
      background-color: $colExtra;
      &.collapsed{
        background-color: transparent;
      }
    }
    .top-navbar, .bottom-navbar{
      >.container{
        padding-left:0px;
        padding-right:0px;
      }
    }
    a{
    }
  }
  .top-navbar{
    background-color: $colSecondary;
    color:$fontColLight;
    .branding{
      .logo{
				line-height : $headBrandHeight;
				.logoimg{
					&--regular{
            height: $headBrandLogoHeight;
						width: auto;
					}
					&--small{
            padding: 0 10px;
						height: $navbar-height - 10px;
						width: auto;
					}
				}
			}
      .langselect{
        height:$headBrandHeight;
        line-height:$headBrandHeight;
      }
    }
  }
  .bottom-navbar{
    background-color: $colExtra;
    color:$fontColLight;
    border-top: $headMenuTopBorderWidth solid $colPrimary;
    .navbar-collapse{
      border-top-width: 0px;
    }
    li.active{
      a{
        background-color: $colPrimary;
      }
    }
  }
}


.herobanner{
  .slide{
    .slide-content{
      h2{
        color: white;
      }
      span{
        color: white;
      }
      .call-to-action{
        border: 1px solid $fontColLight;
        background-color:transparent;
        color: $fontColLight;
        transition: background-color 0.3s;
        &:hover{
          color:$colPrimary;
          background-color: white;
        }
      }
    }
    .slide-screen-effect{
      background-color:rgba($slideScreenColor,0.4);
    }
  }
  .owl-controls{
    .owl-dots{
      .owl-dot{
        background-color: rgba($colSecondary,0.4);
        &:before{
          border-bottom-color: rgba($colSecondary,0.4);
        }
        span{
          color: $fontColLight;
        }
        &.active{
          background-color: rgba(white,1);
          &:before{
            border-bottom-color: rgba(white,1);
          }
          span{
            //background-color: rgba($colSecondary,1);
            color:$colSecondary;
          }
        }
      }
    }
  }
}

#showcase{
  .showcase-nav{
    $col1 : contrastColor($pageColor, darken($ShowcaseTabColorBase,20%), lighten($ShowcaseTabColorBase,20%));
    .page_link{
      background-color: rgba($col1,0.3);
      border-color: rgba($col1,0.5);
      color:white;
      &:before{
        border-top-color: rgba($col1,0.8);
      }
      &.active_page{
        background-color: rgba($col1,0.8);
        border-color:transparent;
        &:before{
          opacity:1;
          bottom:-11px;
        }
      }
    }
  }
  .showcase-content .showcase-item {
		.outer {
			border-color:white;

      padding:0px;
      margin-bottom:5px;
      //background-color:rgba(150,150,150,1);
			.inner {
        border-width:1px;
			}
      .item-title{
        text-align:center;
        display:block;
      }
		}
	}
}

#detailImages{
  &.owl-theme{
    .owl-stage-outer{
      border-color: rgba($colSecondary,0.4);
      border-width:0;
    }
    .owl-controls{
      .owl-dots {
        .owl-dot {
          span{
            background: rgba($colSecondary,0.4);
          }
          &.active span {
            background:rgba($colSecondary,1);
          }
        }
      }
    }
  }
}

#ads-category {
  > li > span:hover,
  li.selected > span,
  {
     color: $colPrimary;
  }
  > li > ul > li:hover
  {
    color: lighten($colPrimary,20%);
 }
}

#ads-container {
  .item-title{
    strong{
      color: darken($colPrimary,20%);
    }
    &:hover{
      strong{
        color: darken($colPrimary,10%);
      }
    }
  }
}


.category-overview{
  padding:10px 0;
  .category{
    padding:10px 0;
    background-color:rgba($colPrimary,0.2);
  }
}

.foot{
  background-color:$colSecondary;
  color: contrastColor($colSecondary, $fontColDark, $fontColLight);
  a{
    color: contrastColor($colSecondary, $fontColDark, $fontColLight);
  }
  .footlines{
    background-color:$footLinesBackColor;
  }
}

/*-- BOOTSTRAP OVERRIDES --*/
.navbar{
  .navbar-nav{
    >li{
      >a{
        color: contrastColor($colExtra, $navColorDark, $navColorLight);
      }
      &:hover{
        >a{
          color:$colPrimary;
        }
      }
      &.active{
        >a{
          color: $fontColLight;
        }
        &:hover{
          >a{
            background-color: $colPrimary;
            color: $fontColLight;
          }
        }
      }
    }
    .dropdown{
      .dropdown-menu {
        min-width: 160px;
        padding: 5px 0;
        margin: 0px 0 0;
        background-color: $colPrimary;
        border: 0px solid darken($colPrimary,10%);
        border-radius: 0px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        >li{
          >a{
            padding: 3px 15px;
            color: $fontColLight;
            &:hover{
              background-color:darken($colPrimary,10%);
              color: $fontColLight;
            }
            img{
              margin-right:5px;
            }
          }
        }
        .divider {
          height: 1px;
          margin: 10px 0;
          background-color:darken($colPrimary,10%);
        }
      }

      >.dropdown-toggle{
        color: contrastColor($colSecondary, $navColorDark, $navColorLight);
        &:hover{
          color:$colPrimary;
        }
      }
      &.open{
        >.dropdown-toggle{
          color: $fontColLight;
          background-color: $colPrimary;
        }
      }
    }

  }
}





//layout responsive overrides
@include respond-to('handhelds'){
	body {
		padding-top: $navbar-height;
	}
  .head{
    .top-navbar{
      .branding{
        .logo{
          line-height: $navbar-height;
        }
      }
    }
  }
}
@include respond-to('tablets-desktop'){
	body {
		padding-top: $navbar-height + $headBrandHeight;
	}
  .head{
    .top-navbar{
      .container{
        width: $containerWidth;
        max-width:100%;
      }
      .branding{
        height: $headBrandHeight;
      }
    }
    .bottom-navbar{
      .container{
        width: $containerWidth;
        max-width:100%;
        .navbar-right{
          margin-right:0px;
        }
      }
    }
  }
}



//RIBBON LAYOUT

.ribbon{
	@include respond-to('large-screens'){
		&--fill{
			//max-width: 100%;
		}
		&--center{
			max-width: $containerWidth;
		}
	}
}
