
@import 'libs/bootstrap-variables';
@import 'mixins/respond-to';

body{
  background-color: $pageColor;
  color: contrastColor($pageColor, $fontColDark, $fontColLight);
}

a{
  color:$colPrimary;
  &:hover{
    color:darken($colPrimary, 10%);
  }
}

#article{
  background-color: $pageColor;
  color: contrastColor($pageColor, $fontColDark, $fontColLight);
}

.head{
  background-color : gray;
  .navbar{
    border-color: $colPrimary;
    border-bottom-width: 3px;
    .navbar-toggle{
      border:none;
      color: $colPrimary;
      font-size: 1.2em;
      border-radius:0;
      background-color: $colExtra;
      &.collapsed{
        background-color: transparent;
      }
    }
    .top-navbar, .bottom-navbar{
      >.container{
        padding-left:0px;
        padding-right:0px;
      }
    }
    a{
    }
  }
  .top-navbar{
    background-color: $colSecondary;
    color:$fontColLight;
    .branding{

    }
  }
  .bottom-navbar{
    background-color: $colExtra;
    color:$fontColLight;
    .navbar-collapse{
      border-top-width: 0px;
    }
    li.active{
      a{
        background-color: $colPrimary;
      }
    }
  }
}


.herobanner{
  .slide{
    .slide-content{
      h2{
        color: white;
      }
      span{
        color: white;
      }
      .call-to-action{
        border: 1px solid $fontColLight;
        background-color:transparent;
        color: $fontColLight;
        transition: background-color 0.3s;
        &:hover{
          color:$colPrimary;
          background-color: white;
        }
      }
    }
    .slide-screen-effect{
      background-color:rgba(25,29,34,0.5);
    }
  }
  .owl-controls{
    .owl-dots{
      .owl-dot{
        background-color: rgba($colSecondary,0.4);
        &:before{
          border-bottom-color: rgba($colSecondary,0.4);
        }
        span{
          color: $fontColLight;
        }
        &.active{
          background-color: rgba(white,1);
          &:before{
            border-bottom-color: rgba(white,1);
          }
          span{
            //background-color: rgba($colSecondary,1);
            color:$colSecondary;
          }
        }
      }
    }
  }
}

#showcase{
  .showcase-nav{
    .page_link{
      background-color: rgba($colSecondary,0.3);
      border-color: rgba($colSecondary,0.5);
      color:white;
      &:before{
        border-top-color: rgba($colSecondary,0.8);
      }
      &.active_page{
        background-color: rgba($colSecondary,0.8);
        border-color:transparent;
        &:before{
          opacity:1;
          bottom:-11px;
        }
      }
    }
  }
  .showcase-content .showcase-item {
		.outer {
			border-color:white;

      padding:0px;
      margin-bottom:5px;
      //background-color:rgba(150,150,150,1);
			.inner {
        border-width:1px;
			}
      .item-title{
        text-align:center;
        display:block;
      }
		}
	}
}

#detailImages{
  &.owl-theme{
    .owl-stage-outer{
      border-color: rgba($colSecondary,0.4);
      border-width:0;
    }
    .owl-controls{
      .owl-dots {
        .owl-dot {
          span{
            background: rgba($colSecondary,0.4);
          }
          &.active span {
            background:rgba($colSecondary,0.4);
          }
        }
      }
    }
  }
}


.foot{
  background-color:$colSecondary;
  color: contrastColor($colSecondary, $fontColDark, $fontColLight);
  a{
    color: contrastColor($colSecondary, $fontColDark, $fontColLight);
  }
}

/*-- BOOTSTRAP OVERRIDES --*/
.navbar{
  .navbar-nav{
    >li{
      >a{
        color: $fontColLight;
      }
      &:hover{
        >a{
          color:$colPrimary;
        }
      }
      &.active{
        >a{
          color: $fontColLight;
        }
        &:hover{
          >a{
            background-color: $colPrimary;
            color: $fontColLight;
          }
        }
      }
    }
    .dropdown{
      >.dropdown-toggle{
        color: $fontColLight;
        &:hover{
          color:$colPrimary;
        }
      }
      &.open{
        >.dropdown-toggle{
          color: $fontColLight;
          background-color: $colPrimary;
        }
      }
    }
  }
}


.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: $colPrimary;
  border: 0px solid darken($colPrimary,10%);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  >li{
    >a{
      padding: 3px 15px;
      color: $fontColLight;
      &:hover{
        background-color:darken($colPrimary,10%);
        color: $fontColLight;
      }
    }
  }
  .divider {
    height: 1px;
    margin: 10px 0;
    background-color:darken($colPrimary,10%);
  }
}


//layout responsive overrides
@include respond-to('handhelds'){
	body {
		padding-top: $navbar-height;
	}
}
@include respond-to('tablets-desktop'){
	body {
		padding-top: $navbar-height + $headBrandHeight;
	}
  .head{
    .top-navbar{
      .container{
        width: $containerWidth;
        max-width:100%;
      }
      .branding{
        height: $headBrandHeight;
        .logo{
          line-height: $headBrandHeight;
          .logoimg{
            &--regular{
              height:100%;
            }
          }
        }
      }
    }
    .bottom-navbar{
      .container{
        width: $containerWidth;
        max-width:100%;
        .navbar-right{
          margin-right:0px;
        }
      }
    }
  }
}



//RIBBON LAYOUT

.ribbon{
	//padding: 20px 0px;
	&--fill{
		//padding: 0px 0px;
	}
	&--center{
		//padding: 20px 0px;
	}
	@include respond-to('large-screens'){
		&--fill{
			//max-width: 100%;
		}
		&--center{
			max-width: $containerWidth;
		}
	}
}
