//variables
@import "variables";

//reset
@import "normalize";
@import "libs/bootstrap";

//mixins
@import "mixins/respond-to";
@import 'mixins/aspect-ratio';

//icon fonts
@import "components/icons";

//base styles
@import "components/base";

//libs
@import "components/oldcarousel";
@import "components/oldfancybox";
@import "components/oldanimate";



//framework
//@import "libs/framework-susy";
//@import "libs/framework-bootstrap";

/*
$colorrgb : rgba(#d19341,1);
$colorhsl : hsl( hue(#d19341), saturation(#d19341), lightness(#d19341));
$colorlight: lighten(#d19341, 10%);
@debug $colorrgb;
@debug $colorhsl;
@debug $colorlight;
*/
