
$colPrimary : #F57E2C;
$colSecondary : #ffb674;
$colExtra: #FFF7F0;

$fontColLight: #fff;
$fontColDark: #333;
$pageColor: #FFF;

$socialIconColor: #fff7f0;
$socialIconBG: $colPrimary;

$headBrandHeight: 80px;
$headBrandLogoHeight:50px;

$containerWidth: 1000px;

$slideScreenColor: #E9C3A1;

$headBorderWidth: 7px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colSecondary;

$footLinesBackColor: inherit;

$navColorDark: $colPrimary;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
