$colPrimary : #F09A29;
$colSecondary : #3F4653;
$colExtra: #191D22;

a{
  color:$colPrimary;
  &:hover{
    color:#DB8817;
  }
}

.head{
  background-color : gray;
  .navbar{
    border-color: $colPrimary;
    border-bottom-width: 3px;
    .top-navbar, .bottom-navbar{
      >.container{
        padding-left:0px;
        padding-right:0px;
      }
    }
    a{
    }
  }
  .top-navbar{
    background-color: $colSecondary;
    color:#fff;
  }
  .bottom-navbar{
    background-color: $colExtra;
    color:#fff;
    li.active{
      a{
        background-color: $colPrimary;
      }
    }
  }
}


.herobanner{
  .slide{
    .slide-content{
      h2{
        color: white;
      }
      span{
        color: white;
      }
      .call-to-action{
        background-color:white;
      }
    }
    .slide-screen-effect{
      background-color:rgba(25,29,34,0.5);
    }
  }
  .owl-controls{
    .owl-dots{
      .owl-dot{
        background-color: rgba(255,255,255,0.4);
        &:before{
          border-bottom-color: white;
        }
        span{
          color: white;
        }
        &.active{
          background-color: white;
          span{
            color: gray;
          }
        }
      }

    }
  }
}

#showcase{
  .showcase-nav{
    .page_link{
      background-color: rgba(150,150,150,0.5);
      color:white;
      &:before{
        border-top-color: rgba(150,150,150,1);
      }
      &.active_page{
        background-color: rgba(150,150,150,1);
        &:before{
          opacity:1;
          bottom:-10px;
        }
      }
    }
  }
  .showcase-content .showcase-item {
		.outer {
			border-color:white;
      border-width:1px;
      padding:0px;
      background-color:rgba(150,150,150,1);
			.inner {
			}
		}
	}
}

#detailImages{
  &.owl-theme{
    .owl-stage-outer{
      border-color: #ccc;
    }
    .owl-controls{
      .owl-dots {
        .owl-dot {
          span{
            background: #d6d6d6;
          }
          &.active span {
            background:#869791;
          }
        }
      }
    }
  }
}


.foot{
  background-color:$colSecondary;
  color: #fff;
  a{
    color:#fff;
  }
}

/*-- BOOTSTRAP OVERRIDES --*/
.navbar{
  .navbar-nav{
    >li{
      >a{
        color: #fff;
      }
      &:hover{
        >a{
          color:$colPrimary;
        }
      }
      &.active{
        >a{
          color: #fff;
        }
        &:hover{
          >a{
            background-color: $colPrimary;
            color: #fff;
          }
        }
      }
    }
    .dropdown{
      >.dropdown-toggle{
        color: #fff;
        &:hover{
          color:$colPrimary;
        }
      }
      &.open{
        >.dropdown-toggle{
          color: #fff;
          background-color: $colPrimary;
        }
      }
    }
  }
}


.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: $colPrimary;
  border: 0px solid #CC6633;
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  >li{
    >a{
      padding: 3px 20px;
      color: #fff;
      &:hover{
        background-color:#DB8817;
        color: #fff;
      }
    }
  }
  .divider {
    height: 1px;
    margin: 10px 0;
    background-color:#DB8817;
  }
}
