
$colPrimary : #A6D3F2;
$colSecondary : #1368AB;
$colExtra: #3498DB;

$fontColLight: #fff;
$fontColDark: #333;
$pageColor: #fff;

$socialIconColor: $colSecondary;
$socialIconBG: $colPrimary;

$headBrandHeight: 60px;
$headBrandLogoHeight: $headBrandHeight - 20px;

$containerWidth: 1000px;

$slideScreenColor: #2C2B5B;

$headBorderWidth: 0px;

$headMenuTopBorderWidth: 1px;

$ShowcaseTabColorBase: $colExtra;

$footLinesBackColor: #3498DB;

$navColorDark: $colPrimary;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
