
$colPrimary : #ffc36a;
$colSecondary : #69D2E7;
$colExtra: #ed812c;

$fontColLight: #fff;
$fontColDark: darken($colSecondary,40%);
$pageColor: #fff;

$social-bg: $colExtra;
$social-icon: #ffffff;
$social-bg-mob: $colSecondary;
$social-icon-mob: $social-icon;

$headBrandHeight: 80px;
$headBrandLogoHeight: $headBrandHeight - 40px;

$containerWidth: 1000px;

$slideScreenColor: $colSecondary;

$headBorderWidth: 0px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colPrimary;

$footLinesBackColor: $colSecondary;

$navColorDark: $fontColLight;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
