
$colPrimary : #a2da29;
$colSecondary : #91bd36;
$colExtra: #292d2e;

$fontColLight: #f1fede;
$fontColDark: #333;
$pageColor: $colExtra;

$socialIconColor: $colExtra;
$socialIconBG: $colPrimary;

$headBrandHeight: 80px;
$headBrandLogoHeight: $headBrandHeight - 30px;

$containerWidth: 1000px;

$slideScreenColor: #2C2B5B;

$headBorderWidth: 1px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colPrimary;

$footLinesBackColor: $colSecondary;

$navColorDark: $colPrimary;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
