
$colPrimary : #6864BD;
$colSecondary : #5A54A4;
$colExtra: #363536;

$fontColLight: #fff;
$fontColDark: #333;
$pageColor: #fff;

$headBrandHeight: 80px;
$headBrandLogoHeight:50px;

$containerWidth: 1000px;

$slideScreenColor: #2C2B5B;

$headBorderWidth: 2px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colSecondary;

$footLinesBackColor: inherit;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
