$colPrimary : #F09A29;
$colSecondary : #3F4653;
$colExtra: #191D22;

$fontColLight: #fff;
$fontColDark: #333;
$pageColor: #fff;


@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
