
$colPrimary : #015381;
$colSecondary : #12427a;
$colExtra: #042642;

$fontColLight: #fff;
$fontColDark: #444;
$pageColor: #eee;

$social-bg: $colExtra;
$social-icon: $pageColor;
$social-bg-mob: $colPrimary;
$social-icon-mob: $social-icon;

$headBrandHeight: 80px;
$headBrandLogoHeight: $headBrandHeight - 20px;

$containerWidth: 1000px;

$slideScreenColor: $colExtra;

$headBorderWidth: 0px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colPrimary;

$footLinesBackColor: $colSecondary;

$navColorDark: $colPrimary;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
