
$colPrimary : #F12938;
$colSecondary : #FFE1D9;
$colExtra: #fff;

$fontColLight: #fff;
$fontColDark: #333;
$pageColor: lighten($colSecondary,30%);

$headBrandHeight: 80px;
$headBrandLogoHeight:50px;

$containerWidth: 1000px;

$slideScreenColor: #2C2B5B;

$headBorderWidth: 7px;

$headMenuTopBorderWidth: 0px;

$ShowcaseTabColorBase: $colSecondary;

$footLinesBackColor: inherit;

$navColorDark: $colPrimary;
$navColorLight: $fontColLight;

@function contrastColor($col1,$coldark,$collight){
  @if (lightness($col1) > 50%){
    @return $coldark;
  }
  @else{
    @return $collight;
  }
}

@import 'template-recolor';
